<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <title>4099 Parts Inventory</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootswatch-dist/css/bootstrap.min.css') }}" >
{#        <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}" >#}

{#        <link rel="stylesheet" href="{{ url_for('static', filename='static/css/jumbotron-narrow.css') }}" >#}

        <!-- CSS specific to this website -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

        <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
    <br />
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#">4099 Inventory</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                          <input id="search" type="text" class="form-control" onKeyUp="sendSearch()" placeholder="Search">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:viewCart()">View cart <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                        <li><a href="javascript:checkInItemsModal()">Check in <span class="glyphicon glyphicon-log-in"></span></a></li>
                        <li><a href="javascript:showAddItemsModal()">Add item <span class="glyphicon glyphicon-plus"></span></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <div class="modal" id="cart">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">View cart</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <label for="checkInItemId" class="control-label">User</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="checkOutUser" placeholder="User">
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Item Code</th>
                                        <th>Name</th>
                                        <th>Location</th>
                                        <th>Notes</th>
                                        <th>Stock Quantity</th>
                                        <th>Cart Quantity</th>
                                    </tr>
                                </thead>
                                <tbody id="cartTableBody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="checkOutSubmit()">Check out</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="addItem">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add new item to inventory</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" id="invalidItemsThing" style="display: none">
                            <strong>Oh snap!</strong>
                            <span id="addItemsError"></span>
                        </div>
                        <form class="form-horizontal">
                            <label for="addItemName" class="control-label">Item Name</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="addItemName" placeholder="Name">
                            </div>
                            <label for="currentQuantity" class="control-label">Current Quantity</label>
                            <div class="form-group">
                                <input type="number" class="form-control" id="currentQuantity" placeholder="Quantity" min="0">
                            </div>
                            <label for="location" class="control-label">Location</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="location" placeholder="Location">
                            </div>
                            <label for="notes" class="control-label">Notes</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="notes" placeholder="Notes">
                            </div>
                            <label for="buyLink" class="control-label">Purchase Link</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="buyLink" placeholder="Purchase Link">
                            </div>
                            <label for="imageLink" class="control-label">Image Link</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="imageLink" placeholder="Image Link">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="submitAddItem()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="checkIn">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Check in items</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" id="invalidIdAlert" style="display: none">
                            <strong>Oh snap!</strong> This ID is invalid.
                        </div>
                        <div class="alert alert-danger" id="noIdAlert" style="display: none">
                            <strong>Oh snap!</strong> You must select an ID first.
                        </div>
                        <form class="form-horizontal">
                            <label for="checkInItemId" class="control-label">Item ID</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="checkInItemId" placeholder="ID">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="retrieveCheckInData()">Retrieve</button>
                                </span>
                            </div>
                        </form>
                        <div class="panel panel-default" style="display: none;" id="checkInTable">
                            <div class="panel-heading">
                                <h3 class="panel-title">Check In Details</h3>
                            </div>
                            <table class="table">
                                <tr>
                                    <td><strong>ID</strong></td>
                                    <td id="checkInItemFinalId"></td>
                                </tr>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td id="checkInItemName"></td>
                                </tr>
                                <tr>
                                    <td><strong>Location</strong></td>
                                    <td id="checkInItemLocation"></td>
                                </tr>
                                <tr>
                                    <td><strong>Notes</strong></td>
                                    <td><input type="text" id="checkInItemNotes"></td>
                                </tr>
                                <tr>
                                    <td><strong>Quantity</strong></td>
                                    <td><input type="number" id="checkInQuantity" min="1"></td>
                                </tr>
                                <tr>
                                    <td><strong>User</strong></td>
                                    <td><input type="text" id="checkInUser"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="checkInItem()">Check in</button>
                    </div>
                </div>
            </div>
        </div>
        <span id="placeToPutIds"></span>
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-check"></span></th>
                                <th>Item Code</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Notes</th>
                                <th>Stock Quantity</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="inventoryBody">

                        </tbody>
                    </table>
                </div>
            </div>

            <footer class="footer">
                <p>&copy; 2017 Falcons FIRST 4099.</p>
            </footer>
        </div>
        </div> <!-- /container -->
        <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
 </html>