<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <title>4099 Parts Inventory</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootswatch-dist/css/bootstrap.min.css') }}" >
{#        <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}" >#}

        <link rel="stylesheet" href="{{ url_for('static', filename='static/css/jumbotron-narrow.css') }}" >

        <!-- CSS specific to this website -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

        <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    </head>
    <body>
    <br />
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="#">4099 Inventory</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-check"></span></th>
                                <th>Item Code</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <footer class="footer">
                <p>&copy; 2017 Falcons FIRST 4099.</p>
            </footer>
        </div>
        </div> <!-- /container -->
        <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
 </html>